body {
  background: #eee;
  font-family: sans-serif;
}

.header-overlap .header {
  background: url(/assets/img/background.jpg);
  background-position: center;
  background-size: cover;

  text-align: center;
  padding: 20px;
}

.header-overlap .content {
  background: #fff;
  padding: 20px;
}

@media (min-width: 400px) {
  .header-overlap .header {
    padding-bottom: 200px;
  }

  .header-overlap .content {
    margin-top: -200px;
    padding: 50px;
  }

  .schedule-page .header-overlap .header {
    padding-bottom: 100px;
  }

  .schedule-page .header-overlap .content {
    margin-top: -80px;
  }
}

.official-logos {
  overflow: hidden;
}

.header-image {
  max-width: 100%;
}

.schedule-page .header-image {
  max-width: 400px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;

  border-bottom: 2px solid #e1e1e1;
  padding-bottom: 10px;
  display: inline-block;

  color: #222;
}

.text {
  margin-bottom: 50px;
}

li {
  margin-bottom: 0;
}

.official-logos {
  margin: 50px 0;
  text-align: center;
}

td.time {
  vertical-align: top;
  font-weight: bold;
}

p:last-child {
  margin-bottom: 0;
}
